/* jrg-nite-iscroll */
.infinite-list-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.infinite-list-scroller {
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.infinite-list-scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.infinite-list-scroller li {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 16px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: hidden;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
	right: 18px;
}

.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9999;
	width: 16px;
	bottom: 2px;
	top: 2px;
	right: 2px;
	overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
	bottom: 18px;
}

.iScrollIndicator {
	position: absolute;
	background: #cc3f6e;
	border-width: 1px;
	border-style: solid;
	border-color: #EB97B4 #7C2845 #7C2845 #EB97B4;
	border-radius: 8px;
}

.iScrollHorizontalScrollbar .iScrollIndicator {
	height: 100%;
	background: -moz-linear-gradient(left,  #cc3f6e 0%, #93004e 100%);
	background: -webkit-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -o-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -ms-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: linear-gradient(to right,  #cc3f6e 0%,#93004e 100%);
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
	background: -moz-linear-gradient(top, #cc3f6e 0%, #93004e 100%);
	background: -webkit-linear-gradient(top,  #cc3f6e 0%,#93004e 100%);
	background: -o-linear-gradient(top, #cc3f6e 0%,#93004e 100%);
	background: -ms-linear-gradient(top, #cc3f6e 0%,#93004e 100%);
	background: linear-gradient(to bottom,  #cc3f6e 0%,#93004e 100%);
}


/* end */


